@use 'sass:math';
@import '../../../styles/variables';

.ptr-AppStoryMainPanelFooterLink {
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}
