@use 'sass:math';
@import '../../styles/variables';

.ptr-StoryMainPanelFooter {
	background-color: rgb(230, 243, 255);
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}

.ptr-StoryMainPanelFooter.is-cure-theme {
	background-image: linear-gradient(var(--base10), var(--base25));
}