@use 'sass:math';
@import '../../styles/variables';

.ptr-StoryNavPanel {
	width: $StoryNavPanelWidth;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}
