@use 'sass:math';
@import '../styles/variables';

.ptr-AppStoryBody {
	width: 100%;
	height: 100%;
	overflow-y: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	scroll-behavior: smooth;
}
