@use 'sass:math';
@import '../../../styles/variables';

.ptr-AppStorySidePanel {
	width: 25rem;
	overflow: auto;
	display: flex;
	flex-flow: column;
	scroll-behavior: smooth;
	box-shadow: 3px 0 3px rgb(0 0 0 / 15%);
	position: relative;
	z-index: 10;
	@include minWidth('xxx-large') {
		width: 30rem;
	}
	@include maxWidth('medium') {
		width: calc(100% - #{$appStoryNavPanelWidth});
		height: 40%;
		margin-left: $appStoryNavPanelWidth;
		order: 2;
	}
}