@use 'sass:math';
@import '../../../styles/variables';

.ptr-AppStorySidePanel-container {
	width: calc(#{$appStoryNavPanelWidth} + #{$appStorySidePanelWidth});
	display: flex;
	flex-flow: row;
	box-shadow: 3px 0 3px rgb(0 0 0 / 15%);
	@include maxWidth('large') {
		width: calc(#{$appStoryNavPanelWidth} + #{$appStorySidePanelWidth} - 5rem);
	}
	@include minWidth('xxx-large') {
		width: calc(#{$appStoryNavPanelWidth} + #{$appStorySidePanelWidth} + 5rem);
	}
	@include maxWidth('medium') {
		width: 100%;
		height: 40%;
		order: 2;
	}
}

.ptr-AppStorySidePanel {
	width: $appStorySidePanelWidth;
	overflow: auto;
	display: flex;
	flex-flow: column;
	scroll-behavior: smooth;
	position: relative;
	z-index: 10;
	@include maxWidth('large') {
		width: calc(#{$appStorySidePanelWidth} - 4rem);
	}
	@include minWidth('xxx-large') {
		width: calc(#{$appStorySidePanelWidth} + 4rem);
	}
	@include maxWidth('medium') {
		width: 100%;
		// height: 100%;
		// order: 2;
	}
}

.ptr-AppStorySidePanel.vertical {
	width: 100%;
}

.ptr-AppStorySidePanel-container.vertical {
	width: 100%;
	height: 40%;
	order: 2;
}
