@use 'sass:math';
@import '../../styles/variables';

.ptr-AppStoryMainPanelFooter-default {
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	background-color: rgb(230, 243, 255);
}

.ptr-AppStoryMainPanelFooter-cure {
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(var(--base10), var(--base25));
}

.ptr-AppStoryMainPanelFooter a {
	width: 60%;
	height: 25%;
	text-decoration: none;
	margin: 1rem;
	box-shadow: 0 10px 15px rgb(0 0 0 / 25%);
	border-radius: 0.15rem;
	text-align: center;
	filter: brightness(90%);
	cursor: pointer;
	@include maxWidth('medium') {
		width: 80%;
	}
}

.ptr-AppStoryMainPanelFooter.vertical a {
	width: 80%;
}