@use 'sass:math';
@import '../../styles/variables';

.ptr-AppStoryHeadline.is-intro {
	font-size: $a4;
	margin: 0;
	letter-spacing: 0.1rem;
	@include minWidth('xxx-large') {
		font-size: $a5;
		max-width: 70rem;
	}
	@include maxWidth('small') {
		font-size: $a3;
		margin-bottom: 0;
	}
	@include maxWidth('x-small') {
		font-size: $b3;
	}
	@include maxHeight('x-small') {
		font-size: $b3;
		margin-bottom: 0;
	}
}
